Package: jp.soh.restatsreborn
Name: ReStats Reborn
Depends: mobilesubstrate
Conflicts: com.greeny.autostatisticsreset
Version: 1.2
Architecture: iphoneos-arm
Description: Automatically reset Cellular statistics on a certain day! Support iOS7-13
Maintainer: Soh Satoh
Author: GreenyDev, CokePokes, Soh Satoh
Icon: file:///Library/PreferenceBundles/RCSPrefs.bundle/RCSPrefs@3x.png
Section: Tweaks
